.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 26px
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    border-bottom: 1px solid;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
}

.address {
    max-width: 240px;
    list-style-type: none;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
}

.phone-number {
    text-decoration: none;
}

.email {
    text-decoration: none;
}

.cover {
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 180px;
    position: relative;
    display: grid; /* Для z-index у h1 */
}

.overlay {
    background-color: black;
    position: absolute;
    opacity: 60%;
    width: 100%;
    height: 100%;
}

.cover__title {
    font-family: Raleway;
    font-weight: 700;
    font-size: 100px;
    line-height: 114.99999999999999%;
    letter-spacing: 30px;
    text-transform: uppercase;
    color: #FFF;
    padding: 165px 50px 106px;
    z-index: 2;
}

.aligned-text {
    display: block;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: right;
}

.cover__description {
    padding: 0 50px 50px;
    color: #FFF;
    display: flex;
    justify-content: space-between;
}

.cover__description-title {
    font-family: Raleway;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    z-index: 2;
}

.bet-button {
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #FFF;

    border: 1px solid;
    padding: 12px 32px 11px 31px;

    z-index: 2;
}

.lots {
    padding: 0 24px;
    margin-bottom: 120px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 0 0 27px 40px;
}

.lots__card-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    gap: 25px;
}

.lots__card-link {
    width: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    min-height: 596px;
    width: 334px;
    position: relative;
    background-position: center;
    background-size: cover;
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    padding: 48px 40px 0;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    color: #FFF;
    z-index: 2;
}

.card__text {
    padding: 0 40px 48px;
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0;
    color: #FFF;
    z-index: 2;
}

.lots__look-more-link {
    text-decoration: none;
    border-bottom: 1px solid;
    margin: 30px 0 0 40px;
    display: inline-block;
}

.about {
    padding: 0 24px 0;
    margin-bottom: 180px;
}

.about__logo {
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    display: flex;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    padding: 0 50px 82px;
    font-size: 18px;
}

.footer__menu-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
}

.footer__menu-link {
    border-bottom: 1px solid;
}

.footer__menu-link_active {
    border-bottom: none;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.footer__social-list-item {
    width: 48px;
    height: 48px;
}

.footer__link {
    border-bottom: 1px solid;
}

.footer__link_active {
    border-bottom: none;
}