header {
    background-color: beige;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 50px 96px 50px;
    font-size: 18px;
}

.header__links-list {
    display: flex;
    gap: 26px
}

.header__links-list-item {
    list-style-type: circle;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link {
    border-bottom: 1px solid;
}

.header__link_active {
    border-bottom: none;
}

.header__logo {
    width: 148px;
    height: 105px;
}

.header__address {
    justify-self: end;
}

.address {
    max-width: 240px;
    list-style-type: none;
    font-style: normal;
    text-decoration: none;
    line-height: 24px;
}

.phone-number {
    text-decoration: none;
}

.email {
    text-decoration: none;
}